.bsp/
.idea/
.metals/
.repo.git/
.scala-build/
.tools/
.venv/
target/
project/target/
project/project/

.DS_Store
*.log

data/raw/*
data/cleaned/*
data/curated/*
data/analytics/*
!data/.gitkeep
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/curated/.gitkeep
!data/analytics/.gitkeep

docs/*.png
docs/*.jpg
docs/*.jpeg
